src/main/mule/test-global-error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	
    <apikit:config name="testapi-config" api="testapi.raml" 
    	outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />    
    	
    <http:listener-config name="testlocal_HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0" port="${httpsport}" protocol="${httpprotocol}" tlsContext="TLS_Context"/>
	</http:listener-config>
	
	<flow name="test-global-error-main">
        <http:listener 
			config-ref="testlocal_HTTP_Listener_config" 
        	path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="testapi-config" />
		<error-handler ref="global-error-handler" />
    </flow>
    
    <flow name="test-global-error-console">
        <http:listener 
        	config-ref="testlocal_HTTP_Listener_config" 
        	path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        
        <apikit:console config-ref="testapi-config" />
        <error-handler ref="global-error-handler" />
    </flow>
    
    
    <flow name="post:\organization:application\json:testapi-config">
        <logger level="INFO" message="post:\organization:application\json:testapi-config" />
    </flow>

</mule>